// Colors inside each color set:

$colorset-1: (
  "primaryBgColor": #f90,
  "primaryColor": $black,
  "secondaryBgColorOne": #984e09,
  "secondaryColorOne": $white,
  "secondaryBgColorTwo": #980917,
  "secondaryColorTwo": $white,
  "tertiaryBgColorOne": #0d6efd,
  "tertiaryColorOne": $white,
  "tertiaryBgColorTwo": #1aca02,
  "tertiaryColorTwo": $white
);

$colorset-2: (
  "primaryBgColor": #f90,
  "primaryColor": $black,
  "secondaryBgColorOne": #984e09,
  "secondaryColorOne": $white,
  "secondaryBgColorTwo": #980917,
  "secondaryColorTwo": $white,
  "tertiaryBgColorOne": #0d6efd,
  "tertiaryColorOne": $white,
  "tertiaryBgColorTwo": #1aca02,
  "tertiaryColorTwo": $white
);

$colorset-3: (
  "primaryBgColor": #f90,
  "primaryColor": $black,
  "secondaryBgColorOne": #984e09,
  "secondaryColorOne": $white,
  "secondaryBgColorTwo": #980917,
  "secondaryColorTwo": $white,
  "tertiaryBgColorOne": #0d6efd,
  "tertiaryColorOne": $white,
  "tertiaryBgColorTwo": #1aca02,
  "tertiaryColorTwo": $white
);