:root {
    
}

.theme_1 {
    --semicollapse-accordion-height: 200px;
}

.theme_1 {
    --semicollapse-accordion-height: 300px;
}

.theme_1 {
    --semicollapse-accordion-height: 400px;
}

